/* style.css */

#root {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* cards */
#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card {
  display: grid;
  position: relative;
  width: 19vw;
  height: 250px;
  margin: 5px;
  background-color: lightcyan;
  border-radius: 15px;
  border: 2px solid black;
  align-items: end;
  justify-items: center;
}

.main-img {
  width: 60%;
  z-index: 10;
}

.top-sprite-left {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
.top-sprite-right {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.bottom-sprite-left {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}
.bottom-sprite-right {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}
.top-sprite-right,
.top-sprite-left,
.bottom-sprite-right,
.bottom-sprite-left {
  height: 70px;
  animation: rotatespriteleft 6s linear infinite;
}

.top-sprite-right,
.bottom-sprite-left {
  animation: rotatespriteleft 4s linear infinite;
}
.bottom-sprite-right,
.top-sprite-left {
  animation: rotatespriteright 6s linear infinite;
}

@keyframes rotatespriteleft {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
}
@keyframes rotatespriteright {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}

.title {
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
  z-index: 20;
}

/* scoreboard */
#scoreboard {
  margin: 10px;
}

#scoreboard p {
  margin-bottom: 30px;
  font-size: large;
}

h2 {
  padding-top: 10px;
}
